rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    /**
     * TRANSPORTES ESPECIALES J&J - J&J CONNECT V2.0
     * SECURITY RULES - DEBUG MODE
     * Permite acceso total a usuarios con sesión activa (incluyendo anónimos).
     */

    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}